In [2]:
from implementations import *
from helpers import *
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime

## Load the data ###

In [4]:
train_data_path="./dataset/x_train.csv"
train_label_path="./dataset/y_train.csv"
train_data=pd.read_csv(train_data_path)
train_label=pd.read_csv(train_label_path)

In [5]:
# we load the labels 
yb=load_csv_data_labels(train_label_path, sub_sample=False)

In [6]:
# load the data points
xb=load_csv_data(train_data_path,sub_sample=False)

In [25]:
# Extract the column names from the x_train.csv and convert it into a list
columns=extract_first_line(train_data_path).split(',')

In [43]:
columns.index('_STATE')

0

## Data Pre-Processing

In [31]:
# Handeling the missing values

def replace_nan_by_mean(data):
    ''' function that handels the missing values by replacing them with the column means'''
    nan_indices = np.isnan(data)
    column_means = np.nanmean(data, axis=0)
    data[nan_indices] = np.take(column_means, np.where(nan_indices)[1])
    return data


data_train=replace_nan_by_mean(xb)

In [37]:
## Verifying that the nan values have been successfully removed
# matrix=np.isnan(data_train)
# num_true=np.count_nonzero(matrix)
# num_false = matrix.size - num_true
# print(num_true)

0

In [56]:
# Data filtering: we only keep relevent features
columns_to_keep=[]

for c in columns:
    if c.startswith('_'):
        columns_to_keep.append(c)


indices_to_keep = [columns.index(c) for c in columns_to_keep]

In [57]:
data_train_filtered=data_train[:, indices_to_keep]

In [58]:
data_train_filtered.shape

(328135, 75)

In [60]:
train_data

,_STATE,_PSU,_STSTR,_STRWT,_RAWRAKE,_WT2RAKE,_CHISPNC,_CRACE1,_CPRACE,_CLLCPWT,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,53,2015015629,532049,120.931680,1.0,120.931680,NaN,NaN,NaN,NaN,...,1,1,3.0,3.0,4.0,1,1,NaN,NaN,2.0
1,33,2015004387,331071,13.467336,2.0,26.934672,9.0,NaN,NaN,NaN,...,9,9,3.0,3.0,4.0,9,9,NaN,NaN,NaN
2,20,2015005638,201091,12.370176,2.0,24.740353,9.0,NaN,NaN,NaN,...,4,2,2.0,2.0,3.0,1,1,1.0,2.0,2.0
3,42,2015004694,422039,213.645885,1.0,213.645885,9.0,NaN,NaN,NaN,...,2,2,2.0,2.0,3.0,1,1,2.0,2.0,2.0
4,24,2015004673,241011,26.493114,1.0,26.493114,9.0,NaN,NaN,NaN,...,9,9,3.0,3.0,4.0,1,1,9.0,9.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328130,49,2015006796,492019,78.216704,1.0,78.216704,9.0,NaN,NaN,NaN,...,2,2,3.0,3.0,4.0,1,1,NaN,NaN,2.0
328131,51,2015006482,512019,194.282536,1.0,194.282536,NaN,NaN,NaN,NaN,...,1,1,3.0,3.0,4.0,1,1,NaN,NaN,1.0
328132,39,2015004898,391012,54.692567,1.0,54.692567,9.0,NaN,NaN,NaN,...,3,2,3.0,3.0,4.0,1,2,2.0,2.0,2.0
328133,33,2015004449,331072,20.185028,3.0,60.555083,9.0,NaN,NaN,NaN,...,3,2,3.0,3.0,4.0,1,1,NaN,NaN,2.0
328134,32,2015001176,321011,74.301419,2.0,148.602839,1.0,6.0,6.0,1006.679546,...,9,9,2.0,2.0,3.0,1,1,NaN,NaN,2.0

## Data Pre-Processing using Pandas

In [38]:
counts=[]
for c in train_data.columns:
    counts.append(f'count for {c} is {train_data[c].value_counts()} \n')

In [39]:
print(counts)

['count for _STATE is 20    17383\n31    12959\n27    12575\n53    11997\n48    10885\n8     10065\n6      9432\n24     9343\n36     9194\n9      8878\n39     8841\n45     8557\n34     8492\n49     8428\n12     7241\n25     6911\n23     6718\n26     6636\n21     6523\n51     6438\n4      5860\n1      5831\n29     5432\n46     5375\n15     5324\n33     5233\n40     5133\n35     5047\n37     5005\n50     4924\n19     4671\n44     4644\n55     4568\n30     4525\n18     4430\n54     4423\n28     4423\n47     4414\n16     4287\n42     4269\n56     4138\n72     4035\n41     3987\n17     3943\n5      3905\n38     3712\n22     3541\n13     3463\n10     2982\n11     2970\n2      2736\n32     2196\n66     1213\nName: _STATE, dtype: int64 \n', 'count for FMONTH is 1     32926\n10    31335\n7     30716\n4     30272\n2     27550\n3     25980\n11    25512\n5     25002\n12    24955\n9     24787\n6     24618\n8     24482\nName: FMONTH, dtype: int64 \n', 'count for IDATE is 6022015     1596\n6032015     1587\n12032015    1526\n3032015     1518\n12092015    1494\n            ... \n3082016        2\n2102016        2\n2162016        2\n2172016        2\n2152016        1\nName: IDATE, Length: 414, dtype: int64 \n', 'count for IMONTH is 3     31444\n11    29486\n2     29161\n1     27937\n7     27512\n12    27174\n6     26894\n8     26873\n4     26611\n10    26443\n5     25675\n9     22925\nName: IMONTH, dtype: int64 \n', 'count for IDAY is 9     13815\n8     12911\n7     12788\n14    12744\n12    12662\n11    12630\n10    12460\n13    12361\n3     12333\n6     12175\n4     12121\n2     12048\n16    11913\n15    11846\n5     11175\n17    11136\n18    10992\n21    10945\n20    10674\n19    10555\n22    10368\n23     9978\n1      9352\n24     8489\n28     8254\n27     7958\n25     7732\n26     7729\n29     7226\n30     7019\n31     3746\nName: IDAY, dtype: int64 \n', 'count for IYEAR is 2015    320011\n2016      8124\nName: IYEAR, dtype: int64 \n', 'count for DISPCODE is 1100    278866\n1200     49269\nName: DISPCODE, dtype: int64 \n', 'count for SEQNO is 2015000426    50\n2015000580    49\n2015002455    48\n2015002274    48\n2015001243    48\n              ..\n2015019956     1\n2015019313     1\n2015021754     1\n2015022711     1\n2015021449     1\nName: SEQNO, Length: 21780, dtype: int64 \n', 'count for _PSU is 2015000426    50\n2015000580    49\n2015002455    48\n2015002274    48\n2015001243    48\n              ..\n2015019956     1\n2015019313     1\n2015021754     1\n2015022711     1\n2015021449     1\nName: _PSU, Length: 21780, dtype: int64 \n', 'count for CTELENUM is 1.0    188720\nName: CTELENUM, dtype: int64 \n', 'count for PVTRESD1 is 1.0    188688\n2.0        32\nName: PVTRESD1, dtype: int64 \n', 'count for COLGHOUS is 1.0    32\nName: COLGHOUS, dtype: int64 \n', 'count for STATERES is 1.0    188719\nName: STATERES, dtype: int64 \n', 'count for CELLFON3 is 2.0    102783\n1.0     85937\nName: CELLFON3, dtype: int64 \n', 'count for LADULT is 2.0    21\n1.0    11\nName: LADULT, dtype: int64 \n', 'count for NUMADULT is 2.0     94528\n1.0     71077\n3.0     16272\n4.0      5243\n5.0      1172\n6.0       291\n7.0        68\n8.0        21\n10.0       12\n9.0         7\n14.0        4\n12.0        3\n15.0        1\n11.0        1\n20.0        1\n18.0        1\nName: NUMADULT, dtype: int64 \n', 'count for NUMMEN is 1.0     118285\n0.0      55247\n2.0      12800\n3.0       1948\n4.0        267\n5.0         36\n6.0         13\n7.0          7\n9.0          3\n8.0          2\n10.0         2\n18.0         1\nName: NUMMEN, dtype: int64 \n', 'count for NUMWOMEN is 1.0     147010\n0.0      23103\n2.0      15890\n3.0       2241\n4.0        297\n5.0         45\n6.0         16\n8.0          3\n7.0          2\n10.0         2\n9.0          1\nName: NUMWOMEN, dtype: int64 \n', 'count for CTELNUM1 is 1.0    139415\nName: CTELNUM1, dtype: int64 \n', 'count for CELLFON2 is 1.0    139415\nName: CELLFON2, dtype: int64 \n', 'count for CADULT is 2.0    70338\n1.0    69076\nName: CADULT, dtype: int64 \n', 'count for PVTRESD2 is 1.0    138613\n2.0       802\nName: PVTRESD2, dtype: int64 \n', 'count for CCLGHOUS is 1.0    801\nName: CCLGHOUS, dtype: int64 \n', 'count for CSTATE is 1.0    130086\n2.0      9330\nName: CSTATE, dtype: int64 \n', 'count for LANDLINE is 2.0    86133\n1.0    52476\n9.0      122\n7.0      117\nName: LANDLINE, dtype: int64 \n', 'count for HHADULT is 2.0     68922\n1.0     33347\n3.0     19513\n4.0      9094\n5.0      2850\n6.0       893\n99.0      307\n7.0       254\n8.0       126\n77.0      116\n10.0       38\n9.0        30\n12.0       26\n11.0       24\n13.0       17\n18.0       10\n15.0        8\n14.0        8\n25.0        2\n21.0        1\n23.0        1\n39.0        1\n20.0        1\n22.0        1\n60.0        1\nName: HHADULT, dtype: int64 \n', 'count for GENHLTH is 2.0    108089\n3.0    101880\n1.0     56937\n4.0     43349\n5.0     16992\n7.0       562\n9.0       324\nName: GENHLTH, dtype: int64 \n', 'count for PHYSHLTH is 88.0    204264\n30.0     25233\n2.0      18182\n1.0      13676\n3.0      10553\n5.0       9207\n10.0      6754\n15.0      6150\n7.0       5892\n4.0       5672\n77.0      5587\n20.0      4033\n14.0      3333\n6.0       1640\n25.0      1568\n99.0      1520\n8.0       1014\n21.0       830\n12.0       703\n28.0       657\n29.0       296\n9.0        258\n18.0       190\n16.0       132\n27.0       130\n17.0       116\n24.0        98\n22.0        94\n26.0        89\n13.0        88\n11.0        75\n23.0        65\n19.0        35\nName: PHYSHLTH, dtype: int64 \n', 'count for MENTHLTH is 88    224183\n30     16379\n2      15809\n5      10985\n1      10190\n3       9108\n10      7948\n15      7227\n4       4566\n20      4360\n7       4205\n77      3761\n14      1677\n99      1598\n25      1530\n6       1272\n8        860\n12       513\n28       450\n21       278\n29       250\n9        149\n18       130\n16       127\n27       119\n22        80\n17        75\n13        74\n23        57\n11        52\n26        52\n24        47\n19        24\nName: MENTHLTH, dtype: int64 \n', 'count for POORHLTH is 88.0    93548\n30.0    14522\n2.0      9180\n1.0      8184\n5.0      6028\n3.0      5782\n15.0     5236\n10.0     5105\n20.0     3555\n4.0      3301\n7.0      3137\n77.0     2670\n14.0     1674\n25.0     1389\n6.0       972\n99.0      887\n8.0       742\n21.0      492\n12.0      456\n28.0      309\n18.0      157\n9.0       153\n29.0      141\n16.0      114\n27.0       92\n17.0       89\n22.0       75\n26.0       71\n13.0       61\n24.0       51\n23.0       42\n11.0       38\n19.0       22\nName: POORHLTH, dtype: int64 \n', 'count for HLTHPLN1 is 1    303049\n2     23760\n7       777\n9       549\nName: HLTHPLN1, dtype: int64 \n', 'count for PERSDOC2 is 1    253938\n3     47434\n2     25430\n7       837\n9       496\nName: PERSDOC2, dtype: int64 \n', 'count for MEDCOST is 2.0    295213\n1.0     32091\n7.0       663\n9.0       167\nName: MEDCOST, dtype: int64 \n', 'count for CHECKUP1 is 1.0    241746\n2.0     37613\n3.0     21287\n4.0     20209\n7.0      3972\n8.0      2834\n9.0       473\nName: CHECKUP1, dtype: int64 \n', 'count for BPHIGH4 is 3.0    189743\n1.0    131801\n4.0      3242\n2.0      2431\n7.0       616\n9.0       301\nName: BPHIGH4, dtype: int64 \n', 'count for BPMEDS is 1.0    110219\n2.0     21366\n7.0       175\n9.0        41\nName: BPMEDS, dtype: int64 \n', 'count for BLOODCHO is 1    284334\n2     36861\n7      6829\n9       111\nName: BLOODCHO, dtype: int64 \n', 'count for CHOLCHK is 1.0    218028\n2.0     32509\n3.0     19371\n4.0     10121\n7.0      4103\n9.0       202\nName: CHOLCHK, dtype: int64 \n', 'count for TOLDHI2 is 2.0    163056\n1.0    118755\n7.0      2193\n9.0       330\nName: TOLDHI2, dtype: int64 \n', 'count for CVDSTRK3 is 2    314032\n1     13366\n7       717\n9        20\nName: CVDSTRK3, dtype: int64 \n', 'count for ASTHMA3 is 2    283169\n1     43982\n7       951\n9        33\nName: ASTHMA3, dtype: int64 \n', 'count for ASTHNOW is 1.0    29548\n2.0    13084\n7.0     1316\n9.0       34\nName: ASTHNOW, dtype: int64 \n', 'count for CHCSCNCR is 2.0    296255\n1.0     31064\n7.0       777\n9.0        38\nName: CHCSCNCR, dtype: int64 \n', 'count for CHCOCNCR is 2    295112\n1     32369\n7       587\n9        67\nName: CHCOCNCR, dtype: int64 \n', 'count for CHCCOPD1 is 2    300402\n1     26186\n7      1502\n9        45\nName: CHCCOPD1, dtype: int64 \n', 'count for HAVARTH3 is 2.0    216696\n1.0    109556\n7.0      1789\n9.0        93\nName: HAVARTH3, dtype: int64 \n', 'count for ADDEPEV2 is 2    264645\n1     62040\n7      1124\n9       326\nName: ADDEPEV2, dtype: int64 \n', 'count for CHCKIDNY is 2    315671\n1     11487\n7       908\n9        69\nName: CHCKIDNY, dtype: int64 \n', 'count for DIABETE3 is 3.0    277049\n1.0     42223\n4.0      5709\n2.0      2675\n7.0       406\n9.0        68\nName: DIABETE3, dtype: int64 \n', 'count for DIABAGE2 is 50.0    3565\n60.0    2814\n98.0    2574\n55.0    2560\n40.0    2087\n        ... \n95.0       4\n92.0       4\n93.0       2\n96.0       1\n94.0       1\nName: DIABAGE2, Length: 98, dtype: int64 \n', 'count for SEX is 2    189352\n1    138783\nName: SEX, dtype: int64 \n', 'count for MARITAL is 1    173520\n5     50506\n2     44248\n3     41673\n6      9375\n4      6575\n9      2238\nName: MARITAL, dtype: int64 \n', 'count for EDUCA is 6    120704\n4     91317\n5     89628\n3     16585\n2      8176\n9      1272\n1       453\nName: EDUCA, dtype: int64 \n', 'count for RENTHOM1 is 1    235483\n2     75009\n3     15373\n9      1742\n7       528\nName: RENTHOM1, dtype: int64 \n', 'count for NUMHHOL2 is 2.0    178114\n1.0      9890\n9.0       545\n7.0       171\nName: NUMHHOL2, dtype: int64 \n', 'count for NUMPHON2 is 1.0    5004\n2.0    3978\n3.0     533\n7.0     113\n9.0     106\n4.0      97\n5.0      32\n6.0      27\nName: NUMPHON2, dtype: int64 \n', 'count for CPDEMO1 is 1.0    152576\n2.0     35186\n9.0       835\n7.0       123\nName: CPDEMO1, dtype: int64 \n', 'count for VETERAN3 is 2.0    284580\n1.0     42935\n9.0       496\n7.0       123\nName: VETERAN3, dtype: int64 \n', 'count for EMPLOY1 is 1    133994\n7     98129\n2     27202\n8     23455\n5     20089\n6      8745\n3      7030\n4      6682\n9      2809\nName: EMPLOY1, dtype: int64 \n', 'count for CHILDREN is 88.0    240617\n1.0      34419\n2.0      30346\n3.0      12905\n4.0       4752\n99.0      2724\n5.0       1515\n6.0        529\n7.0        180\n8.0         70\n9.0         27\n10.0        19\n12.0         9\n11.0         3\n13.0         3\n22.0         2\n15.0         2\n20.0         2\n23.0         2\n52.0         1\n14.0         1\n77.0         1\n18.0         1\n32.0         1\n17.0         1\nName: CHILDREN, dtype: int64 \n', 'count for INCOME2 is 8.0     86314\n7.0     43382\n6.0     38827\n99.0    30206\n5.0     29217\n77.0    25917\n4.0     24059\n3.0     19762\n2.0     14431\n1.0     13549\nName: INCOME2, dtype: int64 \n', 'count for INTERNET is 1.0    256339\n2.0     67575\n9.0       694\n7.0       320\nName: INTERNET, dtype: int64 \n', 'count for WEIGHT2 is 200.0     16116\n180.0     15270\n150.0     15077\n160.0     14007\n9999.0    13337\n          ...  \n9190.0        1\n9152.0        1\n535.0         1\n580.0         1\n9501.0        1\nName: WEIGHT2, Length: 550, dtype: int64 \n', 'count for HEIGHT3 is 504.0     29461\n506.0     29240\n505.0     25968\n507.0     25633\n503.0     23697\n          ...  \n706.0         1\n9146.0        1\n9100.0        1\n9072.0        1\n208.0         1\nName: HEIGHT3, Length: 142, dtype: int64 \n', 'count for PREGNANT is 2.0    46293\n1.0     1813\n9.0      213\n7.0      153\nName: PREGNANT, dtype: int64 \n', 'count for QLACTLM2 is 2.0    240039\n1.0     78948\n7.0      1338\n9.0       877\nName: QLACTLM2, dtype: int64 \n', 'count for USEEQUIP is 2.0    282419\n1.0     37209\n9.0       532\n7.0       232\nName: USEEQUIP, dtype: int64 \n', 'count for BLIND is 2.0    303019\n1.0     15620\n9.0       609\n7.0       594\nName: BLIND, dtype: int64 \n', 'count for DECIDE is 2.0    286511\n1.0     30818\n7.0      1347\n9.0       731\nName: DECIDE, dtype: int64 \n', 'count for DIFFWALK is 2.0    262441\n1.0     54915\n7.0       989\n9.0       641\nName: DIFFWALK, dtype: int64 \n', 'count for DIFFDRES is 2.0    303999\n1.0     13870\n9.0       557\n7.0       277\nName: DIFFDRES, dtype: int64 \n', 'count for DIFFALON is 2.0    292218\n1.0     24696\n9.0       699\n7.0       660\nName: DIFFALON, dtype: int64 \n', 'count for SMOKE100 is 2.0    178357\n1.0    136828\n7.0      1332\n9.0      1077\nName: SMOKE100, dtype: int64 \n', 'count for SMOKDAY2 is 3.0    90838\n1.0    32444\n2.0    13230\n9.0      176\n7.0       68\nName: SMOKDAY2, dtype: int64 \n', 'count for STOPSMK2 is 1.0    25793\n2.0    19676\n7.0      127\n9.0       29\nName: STOPSMK2, dtype: int64 \n', 'count for LASTSMK2 is 7.0     60264\n5.0     11707\n6.0      9007\n4.0      3000\n1.0      1916\n3.0      1867\n2.0      1731\n8.0       650\n77.0      520\n99.0      104\nName: LASTSMK2, dtype: int64 \n', 'count for USENOW3 is 3.0    305625\n1.0      5606\n2.0      4461\n9.0      1333\n7.0       103\nName: USENOW3, dtype: int64 \n', 'count for ALCDAY5 is 888.0    154556\n201.0     25249\n202.0     18829\n101.0     12398\n230.0     10855\n203.0     10456\n102.0     10058\n205.0      8928\n204.0      8773\n103.0      6733\n210.0      6729\n107.0      6445\n220.0      5442\n215.0      5282\n105.0      3185\n206.0      3166\n104.0      3023\n225.0      2364\n208.0      2333\n777.0      2306\n207.0      2200\n999.0      1903\n212.0      1270\n106.0      1102\n228.0       643\n214.0       499\n229.0       225\n209.0       194\n227.0       171\n218.0       170\n216.0       151\n224.0       147\n221.0       137\n222.0       119\n226.0       108\n213.0        68\n223.0        54\n217.0        52\n211.0        39\n219.0         8\nName: ALCDAY5, dtype: int64 \n', 'count for AVEDRNK2 is 1.0     72740\n2.0     46676\n3.0     16796\n4.0      7129\n5.0      3676\n6.0      3611\n77.0     2053\n8.0       915\n10.0      898\n12.0      691\n7.0       589\n99.0      564\n15.0      220\n9.0       131\n20.0      127\n30.0      108\n24.0       50\n14.0       40\n18.0       36\n13.0       33\n11.0       24\n16.0       19\n25.0       19\n40.0       16\n60.0       11\n48.0        7\n50.0        7\n76.0        5\n17.0        5\n26.0        3\n45.0        3\n36.0        3\n21.0        3\n28.0        3\n35.0        2\n23.0        2\n64.0        2\n27.0        2\n33.0        1\n22.0        1\n70.0        1\n56.0        1\n55.0        1\n31.0        1\n75.0        1\n43.0        1\n19.0        1\n52.0        1\nName: AVEDRNK2, dtype: int64 \n', 'count for DRNK3GE5 is 88.0    117010\n1.0      13873\n2.0       7906\n3.0       3589\n4.0       3411\n5.0       2496\n77.0      1730\n30.0      1195\n10.0      1181\n6.0        877\n8.0        830\n15.0       581\n7.0        494\n99.0       472\n20.0       436\n12.0       277\n25.0       163\n14.0        67\n9.0         64\n28.0        43\n16.0        36\n29.0        27\n24.0        25\n18.0        20\n26.0        17\n13.0        15\n21.0        13\n27.0        13\n11.0        12\n23.0        10\n17.0         8\n22.0         8\n19.0         4\n31.0         4\n76.0         4\n40.0         3\n55.0         2\n36.0         2\n50.0         1\n35.0         1\n32.0         1\n60.0         1\n56.0         1\nName: DRNK3GE5, dtype: int64 \n', 'count for MAXDRNKS is 2.0     42953\n1.0     42684\n3.0     24510\n4.0     12697\n5.0      8779\n6.0      7331\n77.0     4034\n8.0      2943\n10.0     2818\n7.0      2380\n12.0     1930\n99.0      811\n15.0      726\n9.0       493\n20.0      412\n18.0      182\n30.0      147\n24.0      124\n14.0      114\n13.0      106\n11.0       98\n16.0       74\n25.0       67\n17.0       32\n40.0       18\n22.0       16\n50.0       13\n23.0       11\n36.0       10\n26.0        9\n32.0        8\n48.0        8\n45.0        7\n19.0        7\n27.0        7\n35.0        6\n60.0        6\n21.0        5\n76.0        5\n33.0        3\n28.0        3\n38.0        3\n43.0        3\n65.0        2\n52.0        2\n42.0        2\n47.0        2\n70.0        2\n34.0        1\n64.0        1\n61.0        1\n51.0        1\n72.0        1\n29.0        1\n71.0        1\n39.0        1\n31.0        1\n56.0        1\nName: MAXDRNKS, dtype: int64 \n', 'count for FRUITJU1 is 555.0    123451\n101.0     43631\n202.0     13624\n302.0     13362\n201.0     12015\n          ...  \n242.0         1\n227.0         1\n125.0         1\n160.0         1\n347.0         1\nName: FRUITJU1, Length: 109, dtype: int64 \n', 'count for FRUIT1 is 101.0    75601\n102.0    40619\n203.0    19357\n202.0    15470\n103.0    15008\n         ...  \n372.0        1\n233.0        1\n364.0        1\n172.0        1\n367.0        1\nName: FRUIT1, Length: 134, dtype: int64 \n', 'count for FVBEANS is 555.0    50956\n201.0    31846\n202.0    30505\n302.0    24554\n203.0    21535\n         ...  \n116.0        1\n365.0        1\n337.0        1\n354.0        1\n120.0        1\nName: FVBEANS, Length: 108, dtype: int64 \n', 'count for FVGREEN is 101.0    42217\n203.0    28445\n202.0    26615\n555.0    23287\n201.0    19799\n         ...  \n346.0        1\n396.0        1\n385.0        1\n361.0        1\n352.0        1\nName: FVGREEN, Length: 115, dtype: int64 \n', 'count for FVORANG is 555.0    44094\n201.0    37359\n202.0    31473\n302.0    23358\n203.0    21565\n         ...  \n227.0        1\n131.0        1\n341.0        1\n338.0        1\n247.0        1\nName: FVORANG, Length: 103, dtype: int64 \n', 'count for VEGETAB1 is 101.0    68838\n203.0    24200\n102.0    23251\n202.0    19548\n320.0    16494\n         ...  \n362.0        1\n236.0        1\n384.0        1\n376.0        1\n347.0        1\nName: VEGETAB1, Length: 133, dtype: int64 \n', 'count for EXERANY2 is 1.0    220487\n2.0     79581\n9.0      1415\n7.0       447\nName: EXERANY2, dtype: int64 \n', 'count for EXRACT11 is 64.0    120361\n37.0     14714\n18.0     12009\n98.0      8931\n67.0      8134\n         ...  \n42.0        19\n3.0         17\n27.0        16\n45.0        13\n55.0         7\nName: EXRACT11, Length: 77, dtype: int64 \n', 'count for EXEROFT1 is 103.0    38814\n107.0    26615\n102.0    25866\n105.0    21314\n104.0    19403\n         ...  \n281.0        1\n184.0        1\n122.0        1\n134.0        1\n258.0        1\nName: EXEROFT1, Length: 115, dtype: int64 \n', 'count for EXERHMM1 is 30.0     54327\n100.0    48404\n45.0     21205\n20.0     15638\n200.0    14821\n         ...  \n212.0        1\n335.0        1\n610.0        1\n258.0        1\n445.0        1\nName: EXERHMM1, Length: 194, dtype: int64 \n', 'count for EXRACT21 is 88.0    68581\n64.0    30348\n67.0    13647\n98.0    11281\n73.0    10702\n        ...  \n3.0        16\n41.0       15\n55.0       14\n27.0       12\n29.0       10\nName: EXRACT21, Length: 78, dtype: int64 \n', 'count for EXEROFT2 is 102.0    25727\n103.0    21386\n101.0    18530\n107.0    12106\n104.0     7718\n         ...  \n262.0        1\n127.0        1\n126.0        1\n143.0        1\n172.0        1\nName: EXEROFT2, Length: 99, dtype: int64 \n', 'count for EXERHMM2 is 30.0     32009\n100.0    31535\n200.0    13671\n20.0     11237\n45.0     10069\n         ...  \n118.0        1\n121.0        1\n126.0        1\n114.0        1\n107.0        1\nName: EXERHMM2, Length: 168, dtype: int64 \n', 'count for STRENGTH is 888.0    181546\n103.0     20356\n102.0     18061\n101.0     11368\n107.0      8195\n          ...  \n145.0         1\n256.0         1\n126.0         1\n180.0         1\n238.0         1\nName: STRENGTH, Length: 101, dtype: int64 \n', 'count for LMTJOIN3 is 2.0    50389\n1.0    49614\n7.0      850\n9.0      375\nName: LMTJOIN3, dtype: int64 \n', 'count for ARTHDIS2 is 2.0    66880\n1.0    31221\n7.0     1803\n9.0     1188\nName: ARTHDIS2, dtype: int64 \n', 'count for ARTHSOCL is 3.0    57646\n2.0    24028\n1.0    18377\n7.0     

In [51]:
for col in train_data.columns:
    mean_col=train_data[col].mean()
    train_data[col].fillna(mean_col, inplace=True)

In [22]:
train_data.columns[32]

'MEDCOST'

In [76]:
x_train

array([[5.30000000e+01, 1.10000000e+01, 1.11620150e+07, ...,
        2.28990981e+00, 2.40679360e+00, 2.00000000e+00],
       [3.30000000e+01, 1.20000000e+01, 1.21520150e+07, ...,
        2.28990981e+00, 2.40679360e+00, 1.96667511e+00],
       [2.00000000e+01, 1.00000000e+01, 1.02020150e+07, ...,
        1.00000000e+00, 2.00000000e+00, 2.00000000e+00],
       ...,
       [3.90000000e+01, 1.00000000e+01, 1.02020150e+07, ...,
        2.00000000e+00, 2.00000000e+00, 2.00000000e+00],
       [3.30000000e+01, 1.20000000e+01, 1.23020150e+07, ...,
        2.28990981e+00, 2.40679360e+00, 2.00000000e+00],
       [3.20000000e+01, 9.00000000e+00, 9.12201500e+06, ...,
        2.28990981e+00, 2.40679360e+00, 2.00000000e+00]])

In [45]:
for col in train_data.columns:
    if not col.startswith('_'):
        train_data.drop(col, axis=1, inplace=True)

In [59]:
train_data

,_STATE,_PSU,_STSTR,_STRWT,_RAWRAKE,_WT2RAKE,_CHISPNC,_CRACE1,_CPRACE,_CLLCPWT,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,53,2015015629,532049,120.931680,1.0,120.931680,NaN,NaN,NaN,NaN,...,1,1,3.0,3.0,4.0,1,1,NaN,NaN,2.0
1,33,2015004387,331071,13.467336,2.0,26.934672,9.0,NaN,NaN,NaN,...,9,9,3.0,3.0,4.0,9,9,NaN,NaN,NaN
2,20,2015005638,201091,12.370176,2.0,24.740353,9.0,NaN,NaN,NaN,...,4,2,2.0,2.0,3.0,1,1,1.0,2.0,2.0
3,42,2015004694,422039,213.645885,1.0,213.645885,9.0,NaN,NaN,NaN,...,2,2,2.0,2.0,3.0,1,1,2.0,2.0,2.0
4,24,2015004673,241011,26.493114,1.0,26.493114,9.0,NaN,NaN,NaN,...,9,9,3.0,3.0,4.0,1,1,9.0,9.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328130,49,2015006796,492019,78.216704,1.0,78.216704,9.0,NaN,NaN,NaN,...,2,2,3.0,3.0,4.0,1,1,NaN,NaN,2.0
328131,51,2015006482,512019,194.282536,1.0,194.282536,NaN,NaN,NaN,NaN,...,1,1,3.0,3.0,4.0,1,1,NaN,NaN,1.0
328132,39,2015004898,391012,54.692567,1.0,54.692567,9.0,NaN,NaN,NaN,...,3,2,3.0,3.0,4.0,1,2,2.0,2.0,2.0
328133,33,2015004449,331072,20.185028,3.0,60.555083,9.0,NaN,NaN,NaN,...,3,2,3.0,3.0,4.0,1,1,NaN,NaN,2.0
328134,32,2015001176,321011,74.301419,2.0,148.602839,1.0,6.0,6.0,1006.679546,...,9,9,2.0,2.0,3.0,1,1,NaN,NaN,2.0

In [43]:
train_data.columns

Index(['_STATE', '_PSU', 'FVBEANS', 'FVGREEN', 'FVORANG', 'VEGETAB1',
       'EXERANY2', 'EXRACT11', 'EXEROFT1', 'EXERHMM1',
       ...
       '_PAREC1', '_PASTAE1', '_LMTACT1', '_LMTWRK1', '_LMTSCL1', '_RFSEAT2',
       '_RFSEAT3', '_FLSHOT6', '_PNEUMO2', '_AIDTST3'],
      dtype='object', length=240)

In [44]:
train_label.isnull().value_counts()

_MICHD
False     328135
dtype: int64

In [52]:
x_train=train_data.to_numpy()

In [46]:
x_train.shape

(328135, 240)

In [ ]:
y_train=train_label.to_numpy()

In [ ]:
max_iters = 100
gamma = 0.1
batch_size = 1

# Initialization
w_initial = np.zeros((x_train.shape[1]))

# # Start SGD.
# start_time = datetime.datetime.now()
# sgd_losses, sgd_ws = mean_squared_error_sgd(y_train, x_train, w_initial, batch_size, max_iters, gamma)
# end_time = datetime.datetime.now()

# # Print result
# exection_time = (end_time - start_time).total_seconds()
# print("SGD: execution time={t:.3f} seconds".format(t=exection_time))

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0.]