In [1]:
from implementations import *
from helpers import *
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime

## Load the data ###

In [23]:
data_path = './dataset_to_release/'
train_data_path = data_path + "x_train.csv"
train_label_path = data_path + "y_train.csv"
train_data=pd.read_csv(train_data_path)
train_label=pd.read_csv(train_label_path)

In [3]:
x_train, x_test, y_train, train_ids, test_ids = load_csv_data_all(data_path, sub_sample=False)

In [14]:
# load the data points
xb = load_csv_data(train_data_path,sub_sample=False)
# Load the labels 
yb = load_csv_data_labels(train_label_path, sub_sample=False)

In [15]:
y = np.expand_dims(yb, axis=1)

In [16]:
# Extract the column names from the x_train.csv and convert it into a list

## Data Pre-Processing

In [17]:
# Handling missing values
def replace_nan_by_mean(data):
    ''' function that handels the missing values by replacing them with the column means'''
    nan_indices = np.isnan(data)
    column_means = np.nanmean(data, axis=0)
    data[nan_indices] = np.take(column_means, np.where(nan_indices)[1])
    return data

data_train = replace_nan_by_mean(xb)

In [39]:
# # Verifying that the nan values have been successfully removed
# matrix=np.isnan(data_train)
# num_true=np.count_nonzero(matrix)
# num_false = matrix.size - num_true
# print(num_true)

0

In [19]:
# Data filtering: we only keep relevant features
def filtering(data, data_path):
    columns = extract_first_line(data_path).split(',')
    columns_to_keep = []
    for c in columns:
        if c.startswith('_'):
            columns_to_keep.append(c)
    indices_to_keep = [columns.index(c) for c in columns_to_keep]
    data_f = data[:, indices_to_keep]
    return(data_f)

In [20]:
data_train_filtered = filtering(data_train, train_data_path)

In [21]:
feature_titles_string = '_FRTRESP _FRUITEX _FRUTSUM _HCVU651 _HISPANC _INCOMG _LLCPWT _LMTACT1 _LMTSCL1 _LMTWRK1 _LTASTH1 _MINAC11 _MINAC21 _MISFRTN _MISVEGN _MRACE1 _PA30021 _PA150R2 _PA300R2 _PACAT1 _PAINDX1 _PAREC1 _PASTAE1 _PASTRNG _PNEUMO2 _PRACE1 _RACE _RACEG21 _RACEGR3 _RACE_G1 _RFBING5 _RFBMI5 _RFCHOL _RFDRHV5 _RFHLTH _RFHYPE5 _RFSEAT2 _RFSEAT3 _RFSMOK3 _SMOKER3 _TOTINDA _VEG23 _VEGESUM _VEGETEX _VEGLT1 _VEGRES'

# Split the string into a list using space as the separator
feature_titles = feature_titles_string.split()

## Data Pre-Processing using Pandas

In [25]:
counts = []
for c in train_data.columns:
    counts.append(f'count for {c} is {train_data[c].value_counts()} \n')

In [26]:
for col in train_data.columns:
    mean_col = train_data[col].mean()
    train_data[col].fillna(mean_col, inplace=True)

In [27]:
train_data.columns[32]

'PERSDOC2'

In [28]:
for col in train_data.columns:
    if not col.startswith('_'):
        train_data.drop(col, axis=1, inplace=True)

In [29]:
train_data

,_STATE,_PSU,_STSTR,_STRWT,_RAWRAKE,_WT2RAKE,_CHISPNC,_CRACE1,_CPRACE,_CLLCPWT,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,53,2015015629,532049,120.931680,1.0,120.931680,7.607091,7.222641,7.222641,805.383803,...,1,1,3.0,3.0,4.0,1,1,2.28991,2.406794,2.000000
1,33,2015004387,331071,13.467336,2.0,26.934672,9.000000,7.222641,7.222641,805.383803,...,9,9,3.0,3.0,4.0,9,9,2.28991,2.406794,1.966675
2,20,2015005638,201091,12.370176,2.0,24.740353,9.000000,7.222641,7.222641,805.383803,...,4,2,2.0,2.0,3.0,1,1,1.00000,2.000000,2.000000
3,42,2015004694,422039,213.645885,1.0,213.645885,9.000000,7.222641,7.222641,805.383803,...,2,2,2.0,2.0,3.0,1,1,2.00000,2.000000,2.000000
4,24,2015004673,241011,26.493114,1.0,26.493114,9.000000,7.222641,7.222641,805.383803,...,9,9,3.0,3.0,4.0,1,1,9.00000,9.000000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328130,49,2015006796,492019,78.216704,1.0,78.216704,9.000000,7.222641,7.222641,805.383803,...,2,2,3.0,3.0,4.0,1,1,2.28991,2.406794,2.000000
328131,51,2015006482,512019,194.282536,1.0,194.282536,7.607091,7.222641,7.222641,805.383803,...,1,1,3.0,3.0,4.0,1,1,2.28991,2.406794,1.000000
328132,39,2015004898,391012,54.692567,1.0,54.692567,9.000000,7.222641,7.222641,805.383803,...,3,2,3.0,3.0,4.0,1,2,2.00000,2.000000,2.000000
328133,33,2015004449,331072,20.185028,3.0,60.555083,9.000000,7.222641,7.222641,805.383803,...,3,2,3.0,3.0,4.0,1,1,2.28991,2.406794,2.000000
328134,32,2015001176,321011,74.301419,2.0,148.602839,1.000000,6.000000,6.000000,1006.679546,...,9,9,2.0,2.0,3.0,1,1,2.28991,2.406794,2.000000

In [30]:
train_data.columns

Index(['_STATE', '_PSU', '_STSTR', '_STRWT', '_RAWRAKE', '_WT2RAKE',
       '_CHISPNC', '_CRACE1', '_CPRACE', '_CLLCPWT', '_DUALUSE', '_DUALCOR',
       '_LLCPWT', '_RFHLTH', '_HCVU651', '_RFHYPE5', '_CHOLCHK', '_RFCHOL',
       '_LTASTH1', '_CASTHM1', '_ASTHMS1', '_DRDXAR1', '_PRACE1', '_MRACE1',
       '_HISPANC', '_RACE', '_RACEG21', '_RACEGR3', '_RACE_G1', '_AGEG5YR',
       '_AGE65YR', '_AGE80', '_AGE_G', '_BMI5', '_BMI5CAT', '_RFBMI5',
       '_CHLDCNT', '_EDUCAG', '_INCOMG', '_SMOKER3', '_RFSMOK3', '_RFBING5',
       '_DRNKWEK', '_RFDRHV5', '_MISFRTN', '_MISVEGN', '_FRTRESP', '_VEGRESP',
       '_FRUTSUM', '_VEGESUM', '_FRTLT1', '_VEGLT1', '_FRT16', '_VEG23',
       '_FRUITEX', '_VEGETEX', '_TOTINDA', '_MINAC11', '_MINAC21', '_PACAT1',
       '_PAINDX1', '_PA150R2', '_PA300R2', '_PA30021', '_PASTRNG', '_PAREC1',
       '_PASTAE1', '_LMTACT1', '_LMTWRK1', '_LMTSCL1', '_RFSEAT2', '_RFSEAT3',
       '_FLSHOT6', '_PNEUMO2', '_AIDTST3'],
      dtype='object')

In [31]:
train_label.isnull().value_counts()

Id     _MICHD
False  False     328135
Name: count, dtype: int64

In [32]:
x_train = train_data.to_numpy()

In [33]:
x_train.shape

(328135, 75)

In [34]:
y_train = train_label.to_numpy()

In [35]:
max_iters = 100
gamma = 0.1
batch_size = 1

# Initialization
w_initial = np.zeros((x_train.shape[1]))

# # Start SGD.
# start_time = datetime.datetime.now()
# sgd_losses, sgd_ws = mean_squared_error_sgd(y_train, x_train, w_initial, batch_size, max_iters, gamma)
# end_time = datetime.datetime.now()

# # Print result
# exection_time = (end_time - start_time).total_seconds()
# print("SGD: execution time={t:.3f} seconds".format(t=exection_time))

## Training

In [36]:
y.shape

(328135, 1, 2)

In [37]:
data_train.shape

(328135, 322)

In [38]:
mean = np.mean(data_train_filtered, axis=0)
std = np.std(data_train_filtered, axis=0)
print(mean.shape, std.shape)
# small_value = 1e-9
data_standardized = (data_train_filtered - mean) / (std)

(75,) (75,)

In [40]:
np.isnan(data_standardized).sum()

0

In [41]:
np.isnan(data_train).sum()

0

In [42]:
# Binary classification using logistic regression

max_iters = 10000
gamma = 0.5

 # Build tx
tx = np.c_[np.ones((y.shape[0], 1)), data_standardized]
initial_w = np.zeros((tx.shape[1], 1))

print(initial_w.shape, tx.shape)

(76, 1) (328135, 76)

In [43]:
grad = calculate_log_likelihood_gradient(y,tx,initial_w)

MemoryError: Unable to allocate 1.57 TiB for an array with shape (328135, 328135, 2) and data type float64

In [44]:
w = initial_w-gamma*grad
print(np.min(w), np.max(w))

NameError: name 'grad' is not defined

In [45]:
loss = calculate_log_likelihood_loss(y,tx,w)
print(loss)

NameError: name 'w' is not defined

In [46]:
w,loss = logistic_regression(y, tx, initial_w, max_iters, gamma)

MemoryError: Unable to allocate 1.57 TiB for an array with shape (328135, 328135, 2) and data type float64

## Test

In [161]:
tast_path='./dataset/x_test.csv'
test_data=load_csv_data(tast_path)

In [169]:
test_data.shape

(109379, 321)

In [163]:
xt=replace_nan_by_mean(test_data)

In [180]:
xt_filtered=filtering(xt, tast_path)

In [183]:
def standardize(data):
    mean=np.mean(data, axis=0)
    std=np.std(data, axis=0)
    return((data - mean) / (std))

In [185]:
xt_filtered.shape
xt_filtered_standardized=standardize(xt_filtered)
xtest=np.c_[np.ones((xt.shape[0], 1)), xt_filtered_standardized]

In [186]:
xtest.shape

(109379, 76)

In [204]:
def apply_model(test, model):
    pred=(sigmoid(test.dot(model))>=0.5).astype(int)
    return(pred)

In [205]:
predictions=apply_model(xtest, w)

In [207]:
predictions.sum()

601